@using WRA.Store
@implements IDisposable
@inject StateContainer StateContainer

<button class="course-button" style="background-color: @_backgroundColor;" @onclick="@(() => ChangePropertyValue(@Course))">@Content</button>