input[type=checkbox] {
    display: none;
}

    input[type=checkbox]:checked + label + div {
        align-items: center;
        animation: fade-in 0.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        background-color: var(--background-color-dark-theme);
        border-bottom-left-radius: calc(var(--primary-border-radius) / 2);
        box-shadow: var(--primary-box-shadow);
        display: flex;
        flex-direction: column;
        height: 30rem;
        justify-content: space-evenly;
        position: absolute;
        right: 0;
        top: calc(4rem + .4rem);
        width: 16rem;
        z-index: 2;
        -webkit-animation: fade-in 0.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    input[type=checkbox]:not(:checked) + label + div {
        align-items: center;
        animation: fade-out 0.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        background-color: var(--background-color-dark-theme);
        border-bottom-left-radius: calc(var(--primary-border-radius) / 2);
        box-shadow: var(--primary-box-shadow);
        display: flex;
        flex-direction: column;
        height: 30rem;
        justify-content: space-evenly;
        position: absolute;
        right: 0;
        top: calc(4rem + .4rem);
        width: 16rem;
        z-index: 2;
        -webkit-animation: fade-out 0.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    input[type=checkbox]:indeterminate + label + div {
        display: none;
    }

label {
    background-color: transparent;
    border: none;
    border-radius: calc(var(--primary-border-radius) / 2);
    box-shadow: var(--primary-box-shadow);
    color: var(--text-icon-color);
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}
