.menu-button {
    background-color: transparent;
}

.mode-button-menu {
    align-items: center;
    animation: fade-in 0.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    background-color: var(--background-color-dark-theme);
    display: flex;
    flex-direction: column;
    height: 32rem;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    top: calc(4rem + .4rem);
    width: 16rem;
    z-index: 2;
    -webkit-animation: fade-in 0.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
