.submit-button {
    height: 50%;
    width: 40%;
}

    .submit-button:active {
        box-shadow: none;
    }

/*Tablet*/
@media (600px <= width < 768px) {
    .submit-button {
        height: 50px;
        width: 150px;
    }
}

/*PC*/
@media (768px <= width) {
    .submit-button {
        height: 50px;
        width: 150px;
    }
}
