.tip-table {
    height: 100%;
    table-layout: fixed;
    width: 110%;
}

th {
    background-color: var(--dark-primary-color);
    border: none;
    border-radius: calc(var(--primary-border-radius) / 2);
    font-weight: normal;
}

    th:first-child {
        width: 4rem;
    }

td {
    text-align: center;
    vertical-align: middle;
}

/*Tablet*/
@media (600px <= width < 768px) {
    .tip-table {
        height: 100%;
        table-layout: fixed;
        width: 100%;
    }
}

/*PC*/
@media (768px <= width) {
    .tip-table {
        height: 100%;
        table-layout: fixed;
        width: 100%;
    }
}
