.tip-table {
    height: 0;
    table-layout: fixed;
    width: 130%;
}

th {
    background-color: var(--dark-primary-color);
    border: none;
    border-radius: calc(var(--primary-border-radius) / 2);
    font-weight: normal;
}

    th:first-child {
        width: 4rem;
    }

td {
    text-align: center;
    vertical-align: middle;
}
