@using WRA.Store
@implements IDisposable
@inherits LayoutComponentBase
@inject CourseStateContainer CourseStateContainer

<div class="page">
    <header class="top">
        <TitleLabel Content="WaraZee.net" />
        @CourseStateContainer.Property
        <CourseButton Content="芝" Course="turf" />
        <CourseButton Content="ダート" Course="dirt" />
    </header>

    <main class="bottom">
        <article>
            @Body
        </article>
    </main>
</div>