@using WRA.Store
@implements IDisposable
@inherits LayoutComponentBase
@inject StateContainer StateContainer

<div class="page">
    <header class="top">
        <TitleLabel Content="WaraZee.net" />
        <MenuButton />
    </header>

    <main class="bottom">
        <article>
            @Body
        </article>
    </main>
</div>