@inherits LayoutComponentBase

<div class="page">
    <header class="top">
        <TitleLabel Content="WaraZee.net" />
    </header>

    <main class="bottom">
        <article>
            @Body
        </article>
    </main>
</div>