.home {
    display: grid;
    grid-template-areas:
        "top"
        "bottom";
    grid-template-columns: 100%;
    grid-template-rows: 85% 15%;
    height: 100%;
    width: 100%;
}

    .home .top {
        grid-area: top;
        height: 100%;
        width: 100%;
    }

    .home .bottom {
        grid-area: bottom;
        height: 100%;
        width: 100%;
    }

.table-scroll {
    display: grid;
    height: 100%;
    overflow: auto;
    width: 100%;
}

.submit-button-flex-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.calculation-result-text {
    display: flex;
    justify-content: center;
    margin-top: .4rem;
    width: 100%;
}

.calculation-result-table-flex-container {
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;
    width: 100%;
}
